.passCon {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  background-size: cover;
  color: #fff;
  height: 100%;
  width: 600px;
}
.passCol {
  height: 100%;
}
.passHeader {
  padding: 25px 30px 20px;
  max-width: 560px;
  margin: 0 auto;
}
.passH1 {
  margin-bottom: 3px;
  font-size: 26px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.pPassSubtitle {
  font-size: 15px;
  margin-top: 20px;
  line-height: 1.2;
  width: 80%;
}
